body{

	font-family: 'Assistant', sans-serif;
	background-color: rgb(0, 0, 0);
	margin: 0;
	padding: 0;

}

::-webkit-scrollbar {
    display: none;
}

.barra-top{
	background-color: rgb(255, 255, 255);
	padding:10px;
	height: 80px;
	width: auto;
}

.logo{
	position: relative;
	float: right;
	width:55px ;
	height: auto;
}

.box_base {
	
	margin: 0px;
	background-color: rgb(175, 35, 35);
	padding: 18px;
}

.box_PJs {
    
	background-color: rgb(64, 43, 158);
}

.img_dota {
	
	transition: transform .25s;
	width: 73px;
	height: auto;
}

.img_dota:hover {

	transform: scale(1.3);
}

.namePJ {
	color: white;
	text-align: center;
	margin: 10px;
	
	background-color: rgb(175, 35, 35);
		
	padding: 10px;
	font-size: 40px;
	font-weight: 600;

}

.logoAtri{
	width: 40px;
	height: auto;
}

.contenedor {
	position: center;
	display: inline;
	justify-content: center;
	
}

.imgPJ{
	padding-top: 10px;	
	margin-left: auto;
  	margin-right: auto;
	width: 270px;
	height: auto;
}

.imgSize{
	border-radius: 270px;
	width: 270px;
	height: auto;	
}

.historyPJ{
	padding: 15px;
	color: white;
	position: relative;
	margin-left: 10px;
	font-size: 18px;
}

.abilities{
	padding: 15px;
	color: white;
	position: relative;
	font-size: 18px;
	text-align: center;
}

.abilitieSize{
	width: 100px;
	height: auto;

}

.talents{
	text-align: center;
	padding: 10px;
	color: white;	
	display: inline-flex;
	background-color: rgb(241, 158, 90);
	font-size: 20px;
}

.statsPJ{
	padding: 10px;
	color: white;	
	display: inline-flex;
	background-color: transparent;
	font-size: 20px;
		
}

.usingInGame{

	color: white;
	padding: 10px;
	display: inline-flex;

	background-color: rgb(42, 159, 189);
	
	font-size: 20px;
	
}


footer {

	align-self: flex-end;
	
	line-height: 3;
	width: 100%;
	height: 100px; 
	margin-top: -100px;
    
    clear: both;
    background-color: #286af0;
    text-align: center;
    color: #fff;

}

